// The ui-variables file is provided by base themes provided by Atom.
//
// See https://github.com/atom/atom-dark-ui/blob/master/styles/ui-variables.less
// for a full listing of what's available.
@import "ui-variables";

.cde-app-template {
  width:780px;
  height: 580px;
  top: 50%;
  left: -17%;
  margin-top: -6px;
  // transform: translate(-50%,-50%);
}
.img {
  width: 780px;
  height: 567px;
  position:relative;
  top: 50%;
  left:-17%;

}
#iframe{
  border:none;
}
atom-panel.modal:after{
   background: black !important;
}
